@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/header';

@import 'blocks/media';