
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/map';
@import 'blocks/footer';

@import 'blocks/media';