.map {
    position: relative;
    background-color: $bg-color;
    .container {
        position: relative;
    }
    .cafe {
        &__img {
            position: relative;
            margin: 0 auto;
            width: calc(100% - 56px);
            border-radius: 10px;
            z-index: 2;
            transform: translate(28px, 20%);
        }
        &__text {
            position: absolute;
            top: 15%;
            left: 70px;
            width: 560px;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: #fff;
            z-index: 2;
            span {
                font-weight: bold;
                font-size: 32px;
                line-height: 39px;
            }
        }
    }
    &__img {
        width: 100%;
    }
    &-card {
        padding: 2% 3%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        bottom: 20px;
        left: 0;
        width: 35%;
        height: 35%;
        background-color: #2E2B2C;
        transform: translateX(110px);
        border-radius: 15px;
        &__title {
            font-weight: 700;
            font-size: 30px;
            text-transform: uppercase;
            color: #fff;
        }
        .divider {
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, .3);
            margin: 0 auto;
        }
        &__contacts {
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            .addres, .mail {
                display: flex;
                margin-bottom: 2%;
                .icon {
                    margin: 0 2%;
                }
                .text {
                    .title {
                        font-weight: 400;
                        font-size: 14px;
                        color: $gray-color;
                        margin-bottom: 1%;
                    }
                    .descr {
                        font-weight: 700;
                        font-size: 15px;
                        color: #fff;
                    }
                }
            }
        }
        &__phone {
            margin-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 170px;
                height: 50px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 14px;
                color: #fff;
                background-color: $green-color;
                cursor: pointer;
                margin-right: 10%;
            }
        }
        &__socials {
            margin-top: 2%;
            display: flex;
            justify-content: center;
            .title {
                margin-right: 10%;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
            }
            .link {
                a {
                    text-decoration-line: none;
                    &:hover {
                        svg {
                            path {
                                fill: $green-color;
                            }
                        }
                    }
                }
            }
        }
        .link {
            font-weight: 700;
            font-size: 17px;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $green-color;
            }
        }
    }
}