@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
}


@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 520px;
    }
}


@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
}