@media (max-width: 1200px) {
    
}


@media (max-width: 991px) {
    .header {
        &__info {
            form {
                width: 100%;
            }
            .contacts {
                display: none;
            }
        } 
    }
    .map {
        .cafe {
            &__text {
                width: 450px;
                font-size: 16px;
                line-height: 20px;
                span {
                    font-size: 28px;
                    line-height: 35px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        padding: 12px 0;
        height: 142px;
        .container {
            flex-wrap: wrap;
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 62px;
            height: 56px;
            border: none;
            background-color: inherit;
            order: 1;
            &__burger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 25px;
                height: 17px;
                &-elem {
                    width: inherit;
                    height: 3px;
                    border-radius: 50px;
                    background-color: $green-color;
                }
            }
            &__text {
                margin-top: 6px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #fff;
            }
        }
        &__logo {
            order: 2;
        }
        &__basket {
            flex-direction: column;
            width: 62px;
            height: 56px;
            order: 3;
            &-text {
                width: 62px;
                font-size: 12px;
                line-height: 14px;
                order: 3;
                text-transform: lowercase;
            }
            &-line {
                width: 48px;
                height: 1px;
                margin: 0;
                order: 2;
            }
            &-icon {
                height: 24px;
                display: block;
                order: 1;
            }
            &-counter {
                display: none;
            }
        }
        &__info {
            margin-top: 10px;
            width: 100%;
            order: 4;
        }
    }
    .promo {
        .promo__desktop {
            display: none;
        }
        .promo__mobile {
            display: block;
            width: 100%;
        }
    }
    .menu {
        &__panel {
            height: 57px;
        }
        &__item {
            padding: 0 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 57px;
            &.all {
                min-width: 102px;
                margin-left:10px;
            }
            &.cold {
                min-width: 150px;
            }
            &.warm {
                min-width: 138px;
            }
            &.meat, &.fish {
                min-width: 128px;
            }
            &.soup {
                min-width: 64px;
            }
            &.grill {
                min-width: 107px;
            }
            &.drink {
                min-width: 85px;
                margin-right: 10px;
            }
        }
        .divider {
            top: 55px;
        }
        &__cards {
            padding: 0 2px;
            height: 407px;
            .card {
                margin: 40px 8px 0 8px;
                min-width: 300px;
                height: 367px;
            }
        }
    }
    .map {
        .cafe {
            &__img {
                display: none;
            }
            &__text {
                display: none;
            }
        }
    }
}


@media (max-width: 575px) {
    
}