@media (max-width: 1200px) {
    .map {
        &-card {
            &__title {
                font-size: 26px;
            }
            &__contacts {
                .addres, .mail {
                    .text {
                        .descr {
                            font-size: 14px;
                        }
                    }
                }
            }
            &__phone {
                .btn {
                    width: 150px;
                    height: 45px;
                    font-size: 12px;
                    margin-right: 5%;
                }
            }
            .link {
                font-size: 14px;
            }
        }
    }
}


@media (max-width: 991px) {
    .header {
        &__info {
            form {
                width: 100%;
            }
            .contacts {
                display: none;
            }
        } 
    }
    .map {
        .cafe {
            &__text {
                width: 450px;
                font-size: 16px;
                line-height: 20px;
                span {
                    font-size: 28px;
                    line-height: 35px;
                }
            }
        }
        &-card {
            &__title {
                font-size: 18px;
            }
            &__contacts {
                .addres, .mail {
                    .text {
                        .descr {
                            font-size: 12px;
                        }
                    }
                }
            }
            &__phone {
                .btn {
                    width: 100px;
                    height: 35px;
                    font-size: 11px;
                    margin-right: 5%;
                    text-align: center;
                }
            }
            &__socials {
                .title {
                    font-size: 12px;
                }
            }
            .link {
                font-size: 12px;
            }
        }
    }
    footer {
        .wrapper {
            justify-content: space-between;
            .right-block {
                flex-direction: column;
                align-items: end;
                width: 200px;
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        padding: 12px 0;
        height: 142px;
        .container {
            flex-wrap: wrap;
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 62px;
            height: 56px;
            border: none;
            background-color: inherit;
            order: 1;
            &__burger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 25px;
                height: 17px;
                &-elem {
                    width: inherit;
                    height: 3px;
                    border-radius: 50px;
                    background-color: $green-color;
                }
            }
            &__text {
                margin-top: 6px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #fff;
            }
        }
        &__logo {
            order: 2;
        }
        &__basket {
            flex-direction: column;
            width: 62px;
            height: 56px;
            order: 3;
            &-text {
                width: 62px;
                font-size: 12px;
                line-height: 14px;
                order: 3;
                text-transform: lowercase;
            }
            &-line {
                width: 48px;
                height: 1px;
                margin: 0;
                order: 2;
            }
            &-icon {
                height: 24px;
                display: block;
                order: 1;
            }
            &-counter {
                display: none;
            }
        }
        &__info {
            margin-top: 10px;
            width: 100%;
            order: 4;
        }
    }
    .promo {
        .promo__desktop {
            display: none;
        }
        .promo__mobile {
            display: block;
            width: 100%;
        }
    }
    .menu {
        &__panel {
            height: 57px;
        }
        &__item {
            padding: 0 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 57px;
            &.all {
                min-width: 103px;
                margin-left:10px;
            }
            &.cold {
                min-width: 152px;
            }
            &.warm {
                min-width: 140px;
            }
            &.meat, &.fish {
                min-width: 130px;
            }
            &.soup {
                min-width: 65px;
            }
            &.grill {
                min-width: 108px;
            }
            &.drink {
                min-width: 86px;
                margin-right: 10px;
            }
        }
        .divider {
            top: 55px;
        }
        &__cards {
            padding: 0 2px;
            height: 447px;
            .card {
                margin: 40px 8px 0 8px;
                min-width: 300px;
                height: 367px;
            }
        }
    }
    .map {
        .cafe {
            &__img {
                display: none;
            }
            &__text {
                display: none;
            }
        }
        &-card {
            bottom: 20px;
            left: -10%;
            width: 45%;
            height: 85%;
        }
    }
    footer {
        height: 230px;
        .wrapper {
            justify-content: center;
            .left-block {
                align-items: center;
                .header__logo {
                    order: 0;
                }
                span {
                    text-align: center;
                }
                a.link {
                    padding: 10px 0;
                }
            }
            .right-block {
                display: none;
            }
        }
    }
    .modal {
        padding: 0;
        &__content {
            margin: 0;
            padding: 15px 20px;
            max-height: 100%;
            border-radius: 0;
            .order {
                &__item {
                    justify-content: space-around;
                    .dish {
                        min-width: 260px;
                        height: 70px;
                        .text {
                            width: 320px;
                            .title {
                                font-size: 16px;
                                line-height: 19px;
                            }
                        }
                        .calc {  
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: end;
                            width: 150px;
                            height: 80px;
                        }
                    }
                }
            }
            .issue {
                &__info {
                    .min {
                        width: 150px;
                    }
                }
            }
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
    }
}


@media (max-width: 575px) {
    .map {
        &__img {
            height: 250px;
            object-fit: cover;
        }
        &-card {
            bottom: 5px;
            left: -100px;
            width: 55%;
            height: 94%;
            &__title {
                font-size: 12px;
            }
            &__contacts {
                .addres, .mail {
                    .text {
                        .title {
                            font-size: 10px;
                        }
                        .descr {
                            font-size: 10px;
                        }
                    }
                }
            }
            &__phone {
                flex-wrap: wrap;
                .btn {
                    width: 90px;
                    height: 30px;
                    font-size: 10px;
                    margin-right: 5%;
                    text-align: center;
                }
            }
            &__socials {
                flex-wrap: wrap;
                .title {
                    font-size: 10px;
                }
            }
            .link {
                font-size: 10px;
            }
        }
    }
    
}