.menu {
    position: relative;
    width: 100%;
    background-color: $bg-color;
    &__panel {
        position: relative;
        display: flex;
        width: inherit;
        height: 78px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 0;
        }
    }
    &__item {
        position: relative;
        padding: 0 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 78px;
        cursor: pointer;
        color: $gray-color;
        &.all {
            min-width: 142px;
            margin-left: 50px;
        }
        &.cold {
            min-width: 205px;
        }
        &.pizza {
            min-width: 108px;
        }
        &.meat, &.fish {
            min-width: 176px;
        }
        &.soup {
            min-width: 94px;
        }
        &.grill {
            min-width: 146px;
        }
        &.drink {
            min-width: 120px;
            margin-right: 50px;
        }
        &.active {
            color: #fff;
            font-weight: 500;
            .line {
                display: block;
            }
        }
        .line {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            min-width: inherit;
            border-radius: 2px;
            background-color: $green-color;
            z-index: 1;
        }
    }
    .divider {
        position: absolute;
        left: 0;
        top: 76px;
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        z-index: 0;
    }
    &__cards {
        display: flex;
        padding: 0 20px;
        height: 450px;
        width: inherit;
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 0;
        }
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 50px 8px 0 8px;
            width: 330px;
            height: 385px;
            border-radius: 10px;
            background: $input-color;
            &.active {
                box-shadow: 3px 3px 15px $green-color;
                background: #615c5b;
                .card__cheked {
                    display: flex;
                }
                .card__calc {
                    .add {
                        display: none;
                    }
                    .del {
                        display: flex;
                        background-color: $red-color;
                    }
                }
            }
            &__cheked {
                display: none;
                position: absolute;
                top: -10px;
                right: -10px;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background-color: $green-color;
                border-radius: 100%;
                img {
                    width: 70%;
                    height: 70%;
                }
            }
            &__img {
                height: 227px;
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &__text {
                margin: 10px 16px 0 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 68px;
                .title {
                    width: 225px;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;
                    color: #fff;
                }
                .weight {
                    padding-top: 8px;
                    font-size: 12px;
                    color: $gray-color;
                }
                .descr {
                    margin: 5px 0 2px 0;
                    font-size: 13px;
                    line-height: 17px;
                    color: $gray-color;
                }
            }
            &__calc {
                margin: 18px 16px;
                display: flex;
                height: 44px;
                justify-content: space-between;
                .add, .del {
                    justify-content: center;
                    align-items: center;
                    width: 138px;
                    height: inherit;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 14px;
                    color: #fff;
                    background-color: $green-color;
                    cursor: pointer;
                }
                .add, .price, .del {
                    display: flex;
                    &__icon {
                        margin-left: 12px;
                    }
                }
                .price {
                    margin: 0 4px;
                    justify-content: start;
                    align-items: center;
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                }
                .del {
                    display: none;
                }
            }
        }
    }
}
.animated {
    animation-duration:1s;
    animation-fill-mode:both;
}
.fadeIn {
    animation-name:fadeIn
}
@keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}