.modal, .secondModal {
    position: relative;
    padding: 2%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1050;
    &__content {
        position: relative;
        margin: 0 auto;
        padding: 15px 30px;
        max-width: 900px;
        max-height: 100%;
        border-radius: 10px;
        background-color: $bg-color;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 0;
        }
        .order, .step {
            min-height: 125px;
            border-radius: 10px;
            background-color: $input-color;
            &__empty {
                display: flex;
                flex-direction: column;
                align-items: center;
                svg {
                    margin-right: 15px;
                    path {
                        fill: $green-color;
                    }
                }
                p {
                    text-align: center;
                    font-weight: 500;
                    letter-spacing: 2px;
                    color: $gray-color;
                }
            }
            &__item {
                position: relative;
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 125px;
                border-radius: 10px;
                background-color: $input-color;
                .divider {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 1px;
                    width: 100%;
                    background: $bg-color;
                }
                img {
                    width: 120px;
                    height: 90px;
                    border-radius: 8px;
                }
                .dish {
                    margin-left: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: calc(100% - 140px);
                    .text {
                        display: flex;
                        flex-direction: column;
                        width: 260px;
                        .title {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            text-transform: uppercase;
                            color: #fff;
                        }
                        .descr {
                            margin-top: 5px;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            color: #A6A7AB;
                        }
                    }
                    .calc {
                        display: flex;
                        justify-content: space-between;
                        width: 230px;
                        .counter, .res {
                            display: flex;
                            align-items: center;
                            .minus, .plus, .del, .minus-gray {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 25px;
                                height: 25px;
                                border-radius: 100%;
                                background-color: $green-color;
                                font-size: 27px;
                                font-weight: 500;
                                color: #fff;
                                cursor: pointer;
                                img {
                                    width: 50%;
                                    height: 50%;
                                }
                            }
                            .del {
                                background-color: $red-color;
                            }
                            .count, .price {
                                margin: 0 5px;
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 24px;
                                text-align: center;
                                color: #fff;
                            }
                            .count {
                                width: 30px;
                            }
                            .price {
                                width: 100px;
                            }
                            .minus-gray {
                                background-color: $gray-color;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
        .issue {
            margin: 40px auto 20px auto;
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: 105px;
            border-radius: 10px;
            background-color: $input-color;
            &__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50px;
                .sum {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #A6A7AB;
                    &__price {
                        font-weight: 700;
                        font-size: 20px;
                        color: #fff;
                        &.danger {
                            color: #802525;
                        }
                    }
                }
                .min {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #fff;
                    span {
                        color: $green-color;
                    }
                }
            }
            &__btn {
                width: 210px;
                height: 50px;
                border: none;
                border-radius: 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #fff;
                background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
                cursor: pointer;
                &.blocked {
                    background: $gray-color;
                    cursor: default;
                }
            }
        }
        .step {
            margin: 0 auto 20px auto;
            padding: 30px;
            //max-width: 672px;
            min-height: 85px;
            &.lastStep {
                padding: 17px 20px 17px 30px;
            }
            .subtitle {
                margin-bottom: 30px;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #fff;
            }
            form {
                &.step-1 {
                    display: grid;
                    grid-template: 60px / repeat(2, 1fr);
                    gap: 15px;
                    width: 100%;
                }
                &.step-2 {
                    display: grid;
                    grid-template: repeat(3, 60px) / repeat(6, 1fr);
                    gap: 15px;
                    max-width: 700px;
                    .i-1 {
                        grid-row: 1 / 2;
                        grid-column: 1 / 4;
                    }
                    .i-2 {
                        grid-row: 1 / 2;
                        grid-column: 4 / 7;
                    }
                    .i-3 {
                        grid-row: 2 / 3;
                        grid-column: 1 / 3;
                    }
                    .i-4 {
                        grid-row: 2 / 3;
                        grid-column: 3 / 5;
                    }
                    .i-5 {
                        grid-row: 2 / 3;
                        grid-column: 5 / 7;
                    }
                    .i-6 {
                        grid-row: 3 / 4;
                        grid-column: 1 / 7;
                    }
                }
                input {
                    width: 100%;
                    height: 60px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 10px;
                    background-color: inherit;
                    padding: 0 30px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #fff;
                }
            }
            .radio {
                margin-bottom: 30px;
                display: grid;
                grid-template: 60px / repeat(2, 1fr);
                gap: 1px;
                max-width: 382px;
                height: 60px;
                border: 1px solid #72A479;
                background: #72A479;
                border-radius: 10px;
                overflow: hidden;
                &__btn {
                    max-width: 100%;
                    height: 100%;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 60px;
                    color: #FFFFFF;
                    background: $input-color;
                    text-align: center;
                    &.active {
                        background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
                    }
                }
            }
            &__title {
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
        }
    }
    &__close, &__secondClose {
        position: absolute;
        margin-right: 20px;
        top: 0;
        right: 0;
        font-weight: 500;
        font-size: 60px;
        line-height: 60px;
        color: $gray-color;
        cursor: pointer;
        &:hover {
            color: $green-color;
        }
    }
    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}